*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
  height: 55px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* position: relative; */
  /* top: 0; */
  position: fixed;
  z-index: 100;
 
}
.navbar a{
text-decoration: none;
color: #FFF;
}
.imagelogo{
  filter: brightness(0) invert(1) !important;
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  width: 190px;
  cursor: pointer;
}
.list-items{
 color: white;
 list-style: none;
 display: flex;
 gap: 20px;
 font-family: "Sour Gummy", sans-serif;
 /* font-size: 20px; */
 cursor: pointer;
}
.icons{
  color: white;
  display: flex;
  gap: 20px;
  font-size: 20px;
  padding-right: 50px;
  cursor: pointer;
}
.ul{
  display: flex;
  justify-content: space-evenly;
}
.icons>p{
  font-size: 12px;
}

.hamburger{
color: white !important;
display: none !important;
}


html,
body {
  position: relative;
  height: auto;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: auto;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider1{
  background-image: url("https://zerolifestyle.co/cdn/shop/files/desktop-vibe.webp?v=1734775353&width=1400"
  )!important;
  height: 550px;
  width: auto;
  background-size: cover;
  margin-top:55px;
}
.slider2{
  background-image: url("https://cdn.shopify.com/s/files/1/0722/8106/3702/files/Wave-Neo-KV-Option-4-Home-Page-Banner-Desktop.webp?v=1733053330"
  )!important;
  height: 550px;
  width: auto;
  background-size: cover;
  margin-top:55px;

}
.slider3{
  background-image: url("https://cdn.shopify.com/s/files/1/0722/8106/3702/files/Crown-Live-Now-Web-Banner-Desktop-Version.webp?v=1732777922"
  )!important;
  height: 550px;
  width: auto;
  background-size: cover;
  margin-top: 55px;

}
.slider4{
  background-image: url("https://cdn.shopify.com/s/files/1/0722/8106/3702/files/Arcade-800-Live-Now-Desktop-Web-Banner.webp?v=1732284643"
  )!important;
  height: 550px;
  width: auto;
  margin-top: 55px;
  background-size: cover;
}
.slider5{
  background-image: url("https://cdn.shopify.com/s/files/1/0722/8106/3702/files/Arcade-900-Live-Now-Desktop-Web-Banner.webp?v=1732284643"
  )!important;
  height: 550px;
  width: auto;
  margin-top: 55px;
  background-size: cover;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  flex-wrap: wrap;
}



.my-float{
	margin-top:16px;

}
.box{
    height: 60px;
    width: 95%;
    align-items: center;
    background-color: #e2e0e0;
    border-radius: 9px;
    margin-left: 40px;
    margin-top: 50px;
    border: 2px solid gray;
    flex-wrap: wrap;

}
.text1{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
    flex-wrap: wrap;

}
/* .text2{
    font-size: 15px;
    margin-left: 1190px;
    margin-top: -17px;
    cursor: pointer;
    flex-wrap: wrap;
    width: auto;

} */
.cards{
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  overflow-x: auto ;
  gap: 15px;
  margin-left: 20px;

}
.cards::-webkit-scrollbar{
  display: none;
}
.card{
  height: auto;
  width: 280px;
  /* background-color: #F4F4F4; */
  border: 1px solid lightgray;
  border-radius: 3px;
  padding-bottom: 20px;
  /* flex-wrap: wrap; */

}
.topBar{
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  background-color: #F4F4F4;
  background: linear-gradient(90deg, #747aff, #ff1446);
  background-clip: red;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  flex-wrap: wrap;

}

.image{
  /* background-color: #000; */
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  background-color: #F4F4F4;
  flex-wrap: wrap;


}
/* .cards:hover> :not(:hover){
  filter: blur(5px);
  opacity: 0.5;
} */
 .card:hover{
  transform: scale(1.01);
  transition: all 2s  ;
 }
.image img{
 height: 250px;
 /* width: 80px; */
 flex-wrap: wrap;

}
.nameanddis{
  width: 260px;
  
  padding: 10px 0;
  border-bottom: 2px solid lightgray;
  margin: 10px auto;
  flex-wrap: wrap;



}
.clrbar{
  height: 30px;
  width: 100%;
  /* background: #000; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;


}
.clr{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #25d366;
  margin-left: 10px;
  flex-wrap: wrap;

}
.fclr{
  background-color: aqua;
  border: 2px solid red;
}

.clrdis{
  margin: 10px 10px;

}
.actuallprice{
  margin-left: 10px;
}
.pricebox{
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.pricebox button{
  padding: 15px 15px;
  outline: none;
  border: none;
  background-color: #000;
  color: white;
  border-radius: 100px;
  flex-wrap: wrap;

}
.shopping-list{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  color: black;
  flex-wrap: wrap;

}
.shopping-list ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid black;
  width: 1000px;
  gap: 30px;
  list-style: none;
  flex-wrap: wrap;
  
}
.list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  flex-wrap: wrap;

}
.img-container{
  margin-top: 50px;
}
.texts{
  display: flex;
  justify-content: center;
  align-items: center;

}
.images{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 350px;
  margin-top: 50px;
  flex-wrap: wrap;

}
.images>img{
  height: 350px; 
  flex-wrap: wrap;

}
.heading{
  margin: 20px 20px;
  flex-wrap: wrap;

}
.my-image2>img{
  height: 500px;
  width: 100%;
  flex-wrap: wrap;

}
.my-image2{
  margin-top: 70px;
  flex-wrap: wrap;

}
.heading2{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  align-items: center;
}
.stories{
  margin-top: 100px;
  margin-left: 20px;
}
.data{
  margin-top: 20px;
}
.data2{
  margin-top: 20px;
}
.footer{
  height: 250px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;

}
.imagelogo2{
  filter: brightness(1) invert(0) !important;
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  width: 190px;
  cursor: pointer;
}
ul{
  list-style: none;
}
.last-footer{
  height: 50px;
  width: auto;
  background-color: #F4F4F4;
  margin: 20px 80px;
  border-top: 1px solid gray;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  flex-wrap: wrap;

}
.last-footer>p{
  font-size: 17px;
  flex-wrap: wrap;

}
.last-images{
  display: flex;
  flex-wrap: wrap;

}

::-webkit-scrollbar{
  background-color: #000;
  width: 15px;
}

::-webkit-scrollbar-thumb{
  border-radius: 15px;
  background: #F4F4F4;
}


@media screen and (max-width:800px) {
  .icons{
      display: none;
  }
  body {
    font-size: auto;
  }
  .swiper-slide{
    width: auto;
  }
  
}

@media screen and (max-width:620px) {
  .icons{
      display: none;
  }
 
  .navbarList{
    position: absolute;
    bottom: 0px;
    /* display: flex; */
    width: 100%;
    height: 0px;
    overflow: hidden;
    background-color: black;
    transition-duration: .3s;
    /* transition: ease-in-ou t; */
  }
  .navbarList .list-items{
    display: flex;
    flex-direction: column;
    align-items:center ;
    color: white;
  }
  .hamburger{
      display: block !important;
      margin-right: 0;
      cursor: pointer;
  }
  .images{
    height: auto!important;
  }
  .images img{
    margin-top: 20px;
  }
  .my-image{
    display: none;
    background-image: url("https://cdn.shopify.com/s/files/1/0722/8106/3702/files/New-Website-Earbuds-Category-Fawad-Banner.webp?v=1732355317");

  }
  .cards{
    margin-left: 20px;
  }
  .card{
    margin-top: 20px;
  }
  .box{
    width: 80%;
    margin: 20px auto;
  }
  .footer{
    margin-bottom: 110px;
  }
  

}
.open{
  bottom: -150px;
height: 150px;
}

@media screen and (max-width:768px) {
  .slider1{
    /* background-color: red; */
    background-image: url("https://zerolifestyle.co/cdn/shop/files/mobile-vibe.webp?v=1734775354&width=1400"
    )!important;
    height: 600px;
    width: 100%;
    background-size: cover;
  }
  .slider2{
    background-image: url("https://zerolifestyle.co/cdn/shop/files/Wave-Neo-KV-Option-4-Home-Page-Mobile-Banner-Live-Now.webp?v=1733309134&width=600"
    )!important;
    height: 600px;
    width: 100%;
    background-size: cover;
  }
  .slider3{
    /* background-color: red; */
    background-image: url("https://zerolifestyle.co/cdn/shop/files/Crown-Live-Now-Web-Banner-Mobile-Version.webp?v=1732777921&width=1200"
    )!important;
    height: 600px;
    width: 100%;
    background-size: cover;
  }
  .slider4{
    /* background-color: red; */
    background-image: url("https://zerolifestyle.co/cdn/shop/files/Arcade-800-Live-Now-Mobile-Web-Banner.webp?v=1732284643&width=1200"
    )!important;
    height: 600px;
    width: 100%;
    background-size: cover;
  }
  .slider5{
    /* background-color: red; */
    background-image: url("https://zerolifestyle.co/cdn/shop/files/Arcade-900-Live-Now-Mobile-Web-Banner.webp?v=1732284643&width=1200"
    )!important;
    height: 600px;
    width: 100%;
    background-size: cover;
  }
  




}
@media screen and (max-width:1200px) {
  .swiper{
    width: auto;
  }
  
  .images{
    height: auto!important;
}
.footer{
  margin-bottom: 110px;
}
.last-footer{
  margin-top: 20px;
}
}
@media screen and (max-width:512) {
.last-footer p{
  margin-top: 200px;
}
}